<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CarPoolServlets</display-name>
  <welcome-file-list>
    <welcome-file>MyHtml.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.ankit.servlets.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.ankit.servlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Giver</display-name>
    <servlet-name>Giver</servlet-name>
    <servlet-class>com.ankit.servlets.Giver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Giver</servlet-name>
    <url-pattern>/Giver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>regemp</display-name>
    <servlet-name>regemp</servlet-name>
    <servlet-class>com.ankit.servlets.regemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regemp</servlet-name>
    <url-pattern>/regemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sorry</display-name>
    <servlet-name>Sorry</servlet-name>
    <servlet-class>com.ankit.servlets.Sorry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sorry</servlet-name>
    <url-pattern>/Sorry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.ankit.servlets.Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>com.ankit.servlets.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ankit.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>